html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: blanchedalmond;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 0.875rem;
    background: url(images/depositphotos_11688211-stock-photo-white-gray-silver-cubic-background.jpg);
}
header{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    margin-bottom: 5vh;
}
h1{
    margin: 0;
    font-size: 2rem;
}
.slider__container{
    margin: auto;
    background: black;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 83vh;
    border-radius: 0.625rem;
    overflow: hidden;
}
.slider{
    width: 400%;
    height: 73vh;
    display: flex;
    align-items: center;
}
input{
    display: none;
}
.slide{
    width: 25%;
    transition: .8s;
    display: flex;
    justify-content: center;
}
.slide img {
    width: 68%;
    height: 62vh;
    text-align: center;
}
.navigation{
    display: flex;
}
.navigation-btn{
    padding:  0.5rem 0.5rem 1rem;
    cursor: pointer;
    transition: 1s;
}
.control{
    padding: 0.4em;
    border-radius: 0.625rem;
    background-color: rgb(40, 40, 158);
    border: 0.143em solid rgb(40, 40, 158);
}
.control:hover, .navigation-btn:hover .control{
    background: rgb(98, 176, 184);
    border: 0.143em solid rgb(98, 176, 184);
}
.control:active, .navigation-btn:active .control{
    background-color: white;
    border: 0.143em solid white;
    box-shadow: 0 0 0.5rem white;
}
.text__container{
    padding-top: 0.15rem;
    width: 55.5%;
    overflow: hidden;
    padding-left: 0.5rem;
}
.text__slider{
    width: 400%;
    display: flex;
}
.text{
    width: 25%;
    transition: .8s;
    font-size: 1.5em;
}
.control__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#button1:checked ~ .slider__container>.slider>.num1,
#button1:checked ~ .slider__container>.control__container>.text__container>.text__slider>.p1{
    margin-left: 0;
}
#button2:checked ~ .slider__container>.slider>.num1,
#button2:checked ~ .slider__container>.control__container>.text__container>.text__slider>.p1{
    margin-left: -25%;
}
#button3:checked ~ .slider__container>.slider>.num1,
#button3:checked ~ .slider__container>.control__container>.text__container>.text__slider>.p1{
    margin-left: -50%;
}
#button4:checked ~ .slider__container>.slider>.num1,
#button4:checked ~ .slider__container>.control__container>.text__container>.text__slider>.p1{
    margin-left: -75%;
}


#button1:checked ~ .slider__container>.control__container>.navigation>#label1>.control{
    background-color: transparent;
    border: 0.143em solid rgb(40, 40, 158);
}
#button1:checked ~ .slider__container>.control__container>.navigation>#label1:hover>.control{
    border: 0.143em solid rgb(98, 176, 184);
}
#button1:checked ~ .slider__container>.control__container>.navigation>#label1:active>.control{
    border: 0.143em solid white;
    box-shadow: 0 0 0.5rem white;
}


#button2:checked ~ .slider__container>.control__container>.navigation>#label2>.control{
    background-color: transparent;
    border: 0.143em solid rgb(40, 40, 158);
}
#button2:checked ~ .slider__container>.control__container>.navigation>#label2:hover>.control{
    border: 0.143em solid rgb(98, 176, 184);
}
#button2:checked ~ .slider__container>.control__container>.navigation>#label2:active>.control{
    border: 0.143em solid white;
    box-shadow: 0 0 0.5rem white;
}


#button3:checked ~ .slider__container>.control__container>.navigation>#label3>.control{
    background-color: transparent;
    border: 0.143em solid rgb(40, 40, 158);
}
#button3:checked ~ .slider__container>.control__container>.navigation>#label3:hover>.control{
    border: 0.143em solid rgb(98, 176, 184);
}
#button3:checked ~ .slider__container>.control__container>.navigation>#label3:active>.control{
    border: 0.143em solid white;
    box-shadow: 0 0 0.5rem white;
}


#button4:checked ~ .slider__container>.control__container>.navigation>#label4>.control{
    background-color: transparent;
    border: 0.143em solid rgb(40, 40, 158);
}
#button4:checked ~ .slider__container>.control__container>.navigation>#label4:hover>.control{
    border: 0.143em solid rgb(98, 176, 184);
}
#button4:checked ~ .slider__container>.control__container>.navigation>#label4:active>.control{
    border: 0.143em solid white;
    box-shadow: 0 0 0.5rem white;
}

@media screen and (max-width: 768px) {
    .control__container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 3vh;
    }
    .slider{
        height: 65vh;
    }
    .slide img{
        height: 59vh;
        width: 80%;
    }
    .slider__container{
        width: 80%;
    }
    .text__container{
    padding: 0;
    width: 95%;
    text-align: center;
    }
    .navigation-btn{
        padding:  0.5rem 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .slider{
        height: 50vh;
    }
    .slide img{
        height: auto;
    }
}